<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yinmeng">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.CAMERA"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.yinmeng.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name="com.yinmeng.Activity.MainActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.FlashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"

            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />

        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/customTheme" />


        <activity
            android:name="com.yinmeng.Activity.RegisterActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.PriceDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>
        <activity
            android:name="com.yinmeng.Activity.ShopListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>
        <activity
            android:name="com.yinmeng.Activity.MyMessageActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>
        <activity
            android:name="com.yinmeng.Activity.AddAdressActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>
        <activity
            android:name="com.yinmeng.Activity.AddressActivitry"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>
        <activity
            android:name="com.yinmeng.Activity.ForgetActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>
        <activity
            android:name="com.yinmeng.Activity.GoodPayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>
        <activity
            android:name="com.yinmeng.Activity.SettingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>
        <activity
            android:name="com.yinmeng.Activity.ChangePasswordActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.OrderActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.OrderBuyActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.PayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.MyOrderDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.MyShopCarActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.TuiGuangActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.TiXianGuanLiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.TiXianListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>


        <activity
            android:name="com.yinmeng.Activity.TuiGuangShouYiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.ShouYiMingXiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.TuanDuiXinXiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.DaiLiShangActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>


        <activity
            android:name="com.yinmeng.Activity.JiJuActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.KaiDaiLiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.DaiLiDingDanListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.DingDanFaHuoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.WoDeTuanDuiActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.POSShopListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.LianXiWoMenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.GuanYuWoMenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.OrderListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.OrderWuLiuActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <activity
            android:name="com.yinmeng.Activity.NewsDetailsActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"></activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.yinmeng.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxc217d5d3083c1834" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wxc217d5d3083c1834" />
            </intent-filter>
        </activity>


    </application>

</manifest>